body,
html {
  margin: 0;
  min-height: 100vh;
  overflow: hidden auto;
}

* {
  box-sizing: border-box;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

nav.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  color: white;
  background-color: #242424;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.input {
  display: block;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: 1px solid black;
}

.container {
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}
