<div class="container">
  <input type="file" id="file" class="input" />

  <button
    class="button"
    style="margin-top: 10px; background-color: rgb(18, 144, 18)"
    onclick="submit()"
  >
    insert
  </button>

  <div id="error" style="margin-top: 30px"></div>
</div>

<script>
  async function submit() {
    document.querySelector("#error").innerHTML = "";

    const formData = new FormData();
    const files = document.querySelector("#file").files;
    formData.append("file", files[0]);

    const { data } = await axios.post(
      "http://localhost:3000/api/add-data",
      formData
    );
    if (data.ok) {
      alert("Insert success!!");
    } else {
      alert("Insert failed");
      document.querySelector("#error").innerText = data.msg;
    }
  }
</script>
