<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map</title>

    <link rel="stylesheet" href="styles/global.css" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.23/esri/themes/dark/main.css"
    />
    <script src="https://js.arcgis.com/4.23/"></script>

    <%- defineContent('styles') %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-links">
        <a href="/" class="navbar-link">Map</a>
        <a href="/export" class="navbar-link">Queries</a>
        <a href="/insert" class="navbar-link">Insert</a>
      </div>
    </nav>

    <%- body %>

    <!-- script section -->
    <%- script %>
  </body>
</html>
